<%- layout("/layout/boilerplate") -%>
<body>
    <h3>All Listing</h3> 
    <form method="GET" action="/listings/new">
        <button>Create new listing</button>
    </form>
    <ul>
        <% for( let list of allListing ) { %>
            <li> <a href="/listings/<%= list._id %>"> <%= list.title %> </a></li>
        <% } %>
    </ul>
</body>